/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #ffca28;
  --color-primary: #424242;
  --color-primary-dark: #1b1b1b;
  --color-primary-light: #6d6d6d;
  --color-secondary: #eeeeee;
  --color-secondary-dark: #bcbcbc;
  --color-secondary-light: #ffffff;
  
  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  align-items: center;
  color: var(--color-white);
  padding: 10px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 0 4px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 5px 25px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

/* Without active is better I think */
/* .navbar__menu__item:active {
  border: 1px solid var(--color-white);
} */

.navbar__menu__item:hover {
  background-color: var(--color-primary-light);
}

/* Home */
#home {
  background: url('images/home/Sky.jpg') center/cover no-repeat; 
  padding: 500px;
  text-align: center;
  width: 100%;
}

.home__avatar {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white );
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Session common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 80px 0px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}
.major__icon:hover i {
  color: var(--color-primary-light);
  transform: scale(1.1);
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-primary-dark);
}

.major__title, 
.major__description {
  color: var(--color-primary-dark);
  font-size: var(--font-small);
}

.about__jobs,
.about__university {
  
}

.job,
.school {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.job__logo,
.school__logo {
  display: block;
  width: 250px;
  height: auto;
  padding: 20px;
}

.job_description,
.school_description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period,
.school__name {
  color: var(--color-primary-dark);
}

.job__name,
.school__name {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

.job__period,
.school__major {
  font-size: var(--font-small);
}

#skills {
  background-color: var(--color-secondary-dark);
}

.skill {
  margin-bottom: 25px;
}

.skillset {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-white);
  margin: 25px 0;
}

.skillset__title {
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.skill__description {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-regular);
  margin-bottom: 10px;
}

.skill__bar {
  width: 100%;
  height: 5px;
  background-color: var(--color-secondary-dark);
}

.skill__value {
  height: 5px;
  background-color: var(--color-yellow);
}

.skillset__left {
  flex-basis: 60%;
  padding: 20px 40px;
}

.skillset__right {
  flex-basis: 40%;
}

.technologies,
.tools {
  padding: 5px;
}
